apiVersion: v1
kind: Secret
metadata:
  name: {{ include "to-monitor.fullname" . }}
  labels:
    {{- include "to-monitor.labels" . | nindent 4 }}
type: Opaque
stringData:
  to-config: "{{ .Values.toConfig | default "" }}"
---
{{- if .Values.imagePullSecrets }}
apiVersion: v1
kind: Secret
metadata:
  name: regcred
data:
  .dockerconfigjson: {{ template "imagePullSecret" . }}
type: kubernetes.io/dockerconfigjson
{{- end }}
